
/*
     FILE ARCHIVED ON 23:45:17 Mar 31, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:53:58 Jun 10, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 81.384
  exclusion.robots: 0.126
  exclusion.robots.policy: 0.116
  RedisCDXSource: 1.384
  esindex: 0.007
  LoadShardBlock: 62.087 (3)
  PetaboxLoader3.datanode: 80.987 (4)
  load_resource: 70.167
  PetaboxLoader3.resolve: 36.3
*/