
/*
     FILE ARCHIVED ON 23:45:17 Mar 31, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:57:01 Jun 10, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 116.087
  exclusion.robots: 0.127
  exclusion.robots.policy: 0.117
  RedisCDXSource: 0.946
  esindex: 0.008
  LoadShardBlock: 97.03 (3)
  PetaboxLoader3.datanode: 81.46 (4)
  PetaboxLoader3.resolve: 72.661 (2)
  load_resource: 74.14
*/