
/*
     FILE ARCHIVED ON 23:45:17 Mar 31, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:52:01 Jun 10, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1164.983
  exclusion.robots: 0.289
  exclusion.robots.policy: 0.271
  RedisCDXSource: 6.604
  esindex: 0.009
  LoadShardBlock: 1140.879 (3)
  PetaboxLoader3.datanode: 1175.244 (4)
  load_resource: 116.776
  PetaboxLoader3.resolve: 56.977
*/