/* ==========共通指定========== */
/* ==========header========== */
/* ==========ext_area_01========== */
/* ==========main========== */
@import url("../../../usa/usa_002.css");
/* ==========ext_area_02========== */
/* ==========footer========== */
@import url("../../../ptu/cw.css");

/*
     FILE ARCHIVED ON 23:45:17 Mar 31, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:51:34 Jun 10, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 267.35
  exclusion.robots: 0.125
  exclusion.robots.policy: 0.114
  cdx.remote: 0.056
  esindex: 0.01
  LoadShardBlock: 235.246 (3)
  PetaboxLoader3.resolve: 281.95 (4)
  PetaboxLoader3.datanode: 94.408 (4)
  load_resource: 191.169
*/