
/*
     FILE ARCHIVED ON 23:45:17 Mar 31, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:54:42 Jun 10, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 112.517
  exclusion.robots: 0.258
  exclusion.robots.policy: 0.24
  cdx.remote: 0.109
  esindex: 0.016
  LoadShardBlock: 68.165 (3)
  PetaboxLoader3.resolve: 63.022 (2)
  PetaboxLoader3.datanode: 60.099 (4)
  load_resource: 79.864
*/