
/*
     FILE ARCHIVED ON 23:45:17 Mar 31, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:56:39 Jun 10, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 67.192
  exclusion.robots: 0.139
  exclusion.robots.policy: 0.129
  cdx.remote: 0.064
  esindex: 0.01
  LoadShardBlock: 37.377 (3)
  PetaboxLoader3.datanode: 69.728 (4)
  load_resource: 248.148
  PetaboxLoader3.resolve: 185.863
*/