/* 1段組み枠指定
---------------------------------------------*/
/* コンテンツ・サイド グループ枠指定 */
#contents_main {
	float: ;
		}

/* 中央部分枠指定 */
#main {
	float: ;
	}

/*
     FILE ARCHIVED ON 23:45:17 Mar 31, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:53:32 Jun 10, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 249.679
  exclusion.robots: 0.121
  exclusion.robots.policy: 0.113
  cdx.remote: 0.054
  esindex: 0.008
  LoadShardBlock: 182.479 (3)
  PetaboxLoader3.datanode: 192.801 (4)
  load_resource: 99.414
  PetaboxLoader3.resolve: 58.8
*/