/* style_parts指定 */
/* @import url("core_sys/css/style_parts/style_parts.css"); */

/*
     FILE ARCHIVED ON 23:45:17 Mar 31, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:53:15 Jun 10, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 958.588
  exclusion.robots: 0.112
  exclusion.robots.policy: 0.103
  cdx.remote: 0.051
  esindex: 0.008
  LoadShardBlock: 664.939 (3)
  PetaboxLoader3.datanode: 195.88 (4)
  load_resource: 79.881
  PetaboxLoader3.resolve: 31.172
*/