@charset "utf-8";
.copyright {
  font-size: 1.2rem;
  text-align: right;
  padding: 0;
  margin: auto;
  position: absolute;
  bottom: 0;
  right:0;
}
/*
     FILE ARCHIVED ON 23:45:17 Mar 31, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:56:32 Jun 10, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 236.805
  exclusion.robots: 0.094
  exclusion.robots.policy: 0.087
  cdx.remote: 0.04
  esindex: 0.005
  LoadShardBlock: 193.623 (3)
  PetaboxLoader3.datanode: 178.863 (4)
  load_resource: 142.987
  PetaboxLoader3.resolve: 93.406
*/